<div id="home">
  <div id="tracks" class="span4">
    <h1>Tracks</h1>
    
    <ul>
      <li>Track</li>
      <li>Track</li>
      <li>Track</li>
      <li>Track</li>
    </ul>
  </div>

  <div id="playlist" class="span8">
    <h1 class="title">Playlist</h1>
    
    <div class="draghere">Drag here!</div>
    
    <ul class="sortable">
      <li>Blah</li>
      <li>Another</li>
    </ul>
  </div>
</div>