<!DOCTYPE html>
<html>
<head>
  <title>MixMyLife</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">MyLife.mx</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
  </div>
</div>
  
<div class="row">
  <%= yield %>
</div>

</body>
</html>
